AbsenceRegistration/Service References/ARservice/AbsenceRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AbsenceRegistration" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4100/AbsenceRegistration.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4100/AbsenceRegistration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4100/AbsenceRegistration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AbsenceRegistrationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAbsenceRegistration_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_CheckIn_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_CheckIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_GetAllUsersHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersHistory" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_GetAllUsersHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_GetUserPresent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPresent" />
  </wsdl:message>
  <wsdl:message name="IAbsenceRegistration_GetUserPresent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserPresentResponse" />
  </wsdl:message>
  <wsdl:portType name="IAbsenceRegistration">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbsenceRegistration/CreateUser" message="tns:IAbsenceRegistration_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbsenceRegistration/CreateUserResponse" message="tns:IAbsenceRegistration_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbsenceRegistration/LoginUser" message="tns:IAbsenceRegistration_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbsenceRegistration/LoginUserResponse" message="tns:IAbsenceRegistration_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbsenceRegistration/CheckIn" message="tns:IAbsenceRegistration_CheckIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbsenceRegistration/CheckInResponse" message="tns:IAbsenceRegistration_CheckIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbsenceRegistration/GetAllUsersHistory" message="tns:IAbsenceRegistration_GetAllUsersHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbsenceRegistration/GetAllUsersHistoryResponse" message="tns:IAbsenceRegistration_GetAllUsersHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPresent">
      <wsdl:input wsaw:Action="http://tempuri.org/IAbsenceRegistration/GetUserPresent" message="tns:IAbsenceRegistration_GetUserPresent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAbsenceRegistration/GetUserPresentResponse" message="tns:IAbsenceRegistration_GetUserPresent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAbsenceRegistration" type="tns:IAbsenceRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IAbsenceRegistration/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IAbsenceRegistration/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <soap:operation soapAction="http://tempuri.org/IAbsenceRegistration/CheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersHistory">
      <soap:operation soapAction="http://tempuri.org/IAbsenceRegistration/GetAllUsersHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPresent">
      <soap:operation soapAction="http://tempuri.org/IAbsenceRegistration/GetUserPresent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbsenceRegistration">
    <wsdl:port name="BasicHttpBinding_IAbsenceRegistration" binding="tns:BasicHttpBinding_IAbsenceRegistration">
      <soap:address location="http://localhost:4100/AbsenceRegistration.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>