AbsenceRegistration/Service References/ARservice/AbsenceRegistration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AbsenceRegistrationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AbsenceRegistrationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserPresence">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPresence" nillable="true" type="tns:UserPresence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserPresence" nillable="true" type="tns:ArrayOfUserPresence" />
  <xs:complexType name="UserPresence">
    <xs:sequence>
      <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPresence" nillable="true" type="tns:UserPresence" />
</xs:schema>